* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100%;
    background-image: url(./images/destacda-hamburguesa.jpg);
    background-position: center;
    background-attachment: fixed;
}

.navbar {
    width: 100%;
    height: 146px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.813);
}

.logo {
    width: 130px;
    cursor: pointer;
    margin-left: 60px;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 40px;
    text-decoration: none;
    color: black;
    margin-right: 70px;
    cursor: pointer;
}
.checkbtn {
    font-size: 30px;
    color: black;
    float: right;
    margin-right: 20px;
    display: none;
    cursor: pointer;
}

#check {
display: none;
}

.letra {
    list-style: none;
    text-decoration: none;
    color: #fafafa;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-weight: bolder;
   font-size: 15px;
}

.section1 {
    margin: 10px 0 20px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: ;
}

.articulo{
    margin-left: 4%;
}

.fotoaside {
    width: 300px;
    height: 300px;
    margin-right: 50px;
    border-radius: 20px;
}


.slogan {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 100;
    font-weight: 1000;
    text-align: center;
    text-decoration: underline;
    padding: 15px 20px;
    }

#warning {
    font-size: 700;
    font-weight: 800;
    color: red;
}

.parrafo {
    font-weight:600;
    text-align: center;
   line-height: 2; 
   padding: 10px;
}

.articulo button{
    background-color: black;
    color: white;
    border-radius: 5px;
    font-weight: 700;
    width: 130px;
    height: 50px;
    cursor: pointer;
}

.articulo button:hover{
    transform:translateY(5px);
    box-shadow: 0 12px 16px rgba(255, 3, 3, 0.5);
}

.letra:hover{
    color:red;
    text-decoration: underline;
}

.fotosection2 {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    transition: all 0.25s;
    margin:auto;
}

.section22 .fotosection2:hover {
    transform: translateY(15px);
    box-shadow: 0 12px 16px rgba(255, 3, 3, 0.5);
}

.section22 {
    width: 80%;
    text-align: center;
    margin: 80px;
}

.section2 {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-grow: 0.5;
    padding: 20px;
}

.pk {
    width: 30%;
    height: 100%;
    border-radius: 100;
    display: flex;
    text-align: center;
    flex-direction: column;
}

.section33 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.section33 .card {
    width: 21%;
    height: 50%;
    border-radius: 30px;
    box-shadow: 1 2px 2 px rgba(255, 0, 0, 0.5);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}

.section33 .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(255, 3, 3, 0.5);
}

.section33 .card img{
    width: 70%;
    height: 300px;
    border-radius: 10%;
}

.section33 .card p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 500;
}

.section33 .card a{
    font-weight: 500;
    text-decoration: none;
    color: blueviolet;
}


#mastro {
    display: flex;
    justify-content: center;
}

.sectionproducts {
    width: 80%;
    height: 30%;
    margin: 10% 20% 10% 8%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
 
.sectionproducts img{
    width: 30%;
    border-radius: 5%;
    margin: 10px;
}

.hamburguesa1 {
    width: 80%;
    height: 100%;
    margin: 5% 80% 0 0;
    cursor: pointer;
}

.hamburguesa1 p{
    font-weight:600;
}

.sectionproducts .hamburguesa1:hover {
transform:scale3d(12px 12px 16px);
box-shadow: 10px 12px 16px red;
}
.sectionubi {
    width: 80%;
    height: 50%;
    margin: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.descr-mapa {
    width: 40%;
}

.footer {
    width: 100%;
    height: 10%;
    background-color: rgb(0, 0, 0);
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 480px) {
    header nav {
        width: 100%;
        height: 100%;
        margin:0;
        position: fixed;
    }

.aside {
    display: none;
}

#menu-toggle {
    display: block;
}

.navbar {
    display: none;
}