* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: url(../images/destacda-hamburguesa.jpg);
    background-position: center;
    background-attachment: fixed;
}

.logo {
    width: 130px;
    cursor: pointer;
    margin-left: 60px;
}

.login-box {
    width: 320px;
    height: 420px;
    background: rgb(0, 0, 0);
    color: rgb(156, 14, 14);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    padding: 70px 30px;
    border-radius: 10%;
}

.form {
    background: black;
}

.login-box h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 30px;
    
}

.login-box label {
    background: black;
    font-weight: bold;
}

h1 {
    background: black;
}

.login-box input {
    width: 100%;
    padding: 7px;
    margin-bottom: 20px;
    background: #fafafa;
    border-radius: 7px;
}

.login-box input [type="text"],
.login-box input [type="password"] {
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    height: 40px;
    color: white;
    font-size: 16px;
}
.login-box input [type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background:rgb(156, 14, 14);
    font-size: 16px;
    border-radius: 7px;
    cursor: pointer;
}

.login-box a {
    text-decoration: none;
    font-size: 17px;
    line-height: 28px;
    color: darkgray;
    background: black;

}

.login-box a:hover{
    color: white;
}